h1 {
    font-family: 'Rajdhani', sans-serif;
}

th,
td,
span,
p,
h2,
h3,
h4,
h5,
button {
    font-family: 'Rajdhani', sans-serif;
    white-space: nowrap;
}

.page-header {
    font-size: 34px;
}

.chart-image {
    border: 0.5px solid #C4C4C4;
    border-radius: 5px;
}

.activity-table-header {
    padding-right: 70px;
    border-right: 1px solid #C4C4C4;

}

th:last-child {
    border-right: none
}

.activity-table-heading {
    border-bottom: 1px solid #C4C4C4;
}

.nft-name {
    color: #585858;
    font-weight: bold;
}

.nft-user {
    font-weight: 600;
    color: #EEBC4E;
    text-align: center;
}

.table-heading {
    font-size: 15px !important;
    font-weight: 600;
    border-right: 2px solid;
    border-right: 0.5px solid #C4C4C4;
}

.heading-row-table {
    border-bottom: 0.5px solid #C4C4C4;
}

.border-base {
    border: 0.5px solid #C4C4C4;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Rajdhani', sans-serif;
}